{% extends 'master.html' %}
{% block body %}
<ul>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
         {% endfor %}
</ul>

<h3>
User ID: {{user.id}}<br>
Email: {{user.email}}<br>
Age: {{user.age}}<br>
Zipcode: {{user.zipcode}}<br>
Number of Movies Rated: {{ user.ratings|length }} <br>
</h3>
    <form>
        <a href="{{url_for('movie_search')}}" class="btn btn-lg btn-primary btn-block"> Search for a movie.</a>
    </form>
{% for r in ratings%}
<h4><b><a href="{{url_for('view_movie', id=r.movie.id) }}"> {{r.movie.name}}</a></b>: {{r.rating}} Stars</h4>
{% endfor%}

{% endblock %}



